.container.info {
  border-bottom: 1px dashed black;
  padding: 10px 0px 0px 0px;
}

.hotline {
  padding-bottom: 3px;
}

.hotline span {
  font-size: 12px;
}

.hotline a {
  font-weight: 800;
  font-size: 16px;
  color: cadetblue;
}

.hotline a:hover,
.hotline a:focus {
  font-weight: 800;
  font-size: 16px;
  color: cadetblue;
  text-decoration: none;
}

.txtsearch {
  text-align: right;
}

.txtsearch form .searchtxt {
  border: none;
  font-family: Arial;
  font-size: 12px;
  outline: none;
}

.txtsearch form .searchbtn {
  background: url("../image/img/icon-search.png") no-repeat;
  border: none;
  width: 10px;
  height: 10px;
}

.banner {
  text-align: center;
  padding: 10px 0;
}

.banner img {
  height: 76px;
}

.menu ul li {
  display: inline-block;
  padding: 0 20px;
  font-style: italic;
  position: relative;
}

.menu ul li a {
  color: black;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul {
  text-align: center;
  padding: 0px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.menu ul li ul {
  z-index: 1100;
  display: none;
  position: absolute;
  border: 1px solid #dddddd;
  border-top: none;
  padding: 0px;
  text-align: left;
  width: 200px;
}

.menu ul li ul li {
  display: block;
  text-align: left;
  padding: 5px 10px;
}

.menu ul li:hover ul {
  display: block;
}
